extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Michael Sutu

        p Full Stack JavaScript Developer


        .about-bio

          p I have been programming for 3 years. I am a Full Stack javascript developer and I also know python and lua. 


      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug
          li Python 
          li Lua

        h6 Contact Info

        ul
          li 123-456-7890
          li myemail@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts - feel free to use non-personal links to social media home pages if you prefer
        a.btn-link(href='https://replit.com/@MikeJMS8910') Replit
        a.btn-link(href='https://github.com/MikeJMS8910') GitHub

    nav.nav
      a(href='/')
        span &larr;
        |  Back