extends layout.pug

block content

  article.portfolio-intro
 
    h1 My Portfolio

    p I am taking a course for Full Stack Javascript in treehouse. These are all of the projects that I have made and am going to add more soon.


  article.portfolio-project-thumbs
    .projects-box.box.grid

      each value in data.projects

        .cell
          a(href=`/project/${value.id}`)
            img.thumbnail(src=`${data.projects[value.id].image_urls}`, alt='')
            h5 #{data.projects[value.id].project_name}

